html {
    --bg: #ecf0f3;
    --text: #202520;
    --clock-border: #ecf0f3;
    --clock-bg: #fff6e7;
    --clock-shadow-up: #cbced1;
    --clock-shadow-down: white;
    --clock-center-circle: var(--clock-shadow-up);
    --clock-hour: #c58371;
    --clock-minute: #c58371;
    --clock-second: #ff3677;
    --clock-marking: #a5a7b1;
    --clock-marking-sec: #bdbdcb;
    --clock-marking-seconds: rgba(189, 189, 203, 0.07);
}

html[data-theme="dark"] {
    --bg: #282828;
    --text: #d9dbe9;
    --clock-border: #282828;
    --clock-bg: #000;
    --clock-shadow-up: rgba(67, 67, 67, 0.5);
    --clock-shadow-down: rgba(0, 0, 0, 0.5);
    --clock-center-circle: #4d4b63;
    --clock-hour: #61afff;
    --clock-minute: #61afff;
    --clock-second: #ee791a;
    --clock-marking: #1df52f;
    --clock-marking-sec: #bdbdcb;
    --clock-marking-seconds: rgba(189, 189, 203, 0.07);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    scroll-behavior: smooth;
}

.app_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 2rem;

    .theme {
        padding: 0.5rem;
        background-color: var(--text);
        color: var(--clock-bg);
        border-radius: 16px;
        position: relative;
        margin-bottom: 3rem;
        cursor: pointer;
        user-select: none;
    }
}